{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}



<p class="text-center fs-2" style="font-family: Electrolize; font-weight: 400; font-style: normal;">FaceChain</p>


<form action="" method="post">
    {% csrf_token %}

    <div class="card mx-auto" style="width: 30rem; background-color: darkgrey;">
        <img src="../../static/images/logo.png" class="card-img-top" alt="no encontrado" style="display: block; max-width: 30%; margin: auto;">
        <div class="card-body">
          <h5 class="card-title">Ingrese sus Credenciales</h5>
          {{ form | crispy }}
          
          
          <button class="btn btn-sm btn-primary float-end" type="submit">Iniciar Sesión</button>

        </div>
      </div>

    
    



</form>

{% endblock %}